<ion-header>
  <ion-toolbar>
    <ion-title>parking-list</ion-title>
    <ion-buttons slot="end">
      <button ion-button color="primary" icon-left (click)="addParking()">
        <ion-icon name="add"></ion-icon> ADD
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngFor="let p of parkings">
    <button ion-item>
      <img [src]="p.photo" width="100px" *ngIf="p.photo">
      <p *ngIf="!p.photo"> No-image </p>


      <h1> {{ p.name }} </h1><br>
      <p> {{ p.distance }} </p><br>
      <p *ngIf="p.available"> ว่าง {{ p.available }}</p>
      <p *ngIf="!p.available"> เต็ม </p>
    </button>
  </ion-list> -->

  <ion-searchbar (ionInput)="doSearch($event)" debounce="1000" placeholder="ค้นหา"></ion-searchbar>
  
  <ion-list>
    <ion-item *ngFor="let p of parkings" class="ion-margin-vertical" (click)="viewParkingDetail(p)">
      <ion-row class="ion-align-items-center ">
        <ion-button size="large" fill="clear">
          <ion-thumbnail>
            <img [src]="p.photo" *ngIf="p.photo">
            <img src="../../assets/img/no-image.png" *ngIf="!p.photo">
          </ion-thumbnail>
          
          <ion-label class="ion-margin-start">
            <h5>{{p.name}}</h5>
            <!-- <p>{{p.description}}</p> -->
            <p>{{p.distance}} km</p>
            <p> ว่าง {{p.available}} </p>
            <p *ngIf="!p.available"> เต็มแล้ว </p>
          </ion-label>
        </ion-button>
      </ion-row>
    </ion-item>
  </ion-list>

  <!-- <ion-fab right bottom>
    <button ion-fab color="danger" (click)="addParking()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab> -->

</ion-content>