<ion-header>
  <ion-toolbar>
    <ion-title> เพิ่มที่จอดรถ </ion-title>
    <ion-buttons slot="end">
      <button ion-button color="primary" icon-left (click)="save()" [disabled]="name.errors || description.errors && (name.dirty || name.touched || description.dirty || description.touched)">
        <ion-icon name="create"></ion-icon> SAVE
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #form="ngForm" (ngSubmit)="save()">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3> รายละเอียดที่จอดรถ </h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input type="text" name="name" [(ngModel)]="parking[0].name" placeholder="ชื่อสถานที่จอนรถ" id="name" #name="ngModel" required></ion-input>
            </ion-item>
            <div padding class="error-border" *ngIf="name.errors && (name.dirty || name.touched)"> กรุณากรอกข้อมูลสถานที่ </div>
            <ion-item>
              <ion-textarea type="text" name="description" [(ngModel)]="parking[0].description" placeholder="เพิ่มรายละเอียด สถานที่ อัตราค่าบริการ" id="description" #description="ngModel" required></ion-textarea>
            </ion-item>
            <div padding class="error-border" *ngIf="description.errors && (description.dirty || description.touched)"> กรุณากรอกข้อมูลรายละเอียดสถานที่ </div>
            <ion-item>
              <ion-input type="number" name="available" [(ngModel)]="parking[0].available" placeholder="จำนวนที่รองรับ (คัน)"></ion-input>
            </ion-item>
            <ion-button size="large" type="submit" expand="block" [disabled]="name.errors || description.errors && (name.dirty || name.touched || description.dirty || description.touched)"> บันทึก </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
