<ion-header>
  <ion-toolbar>
    <ion-title> {{ parking.name }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item class="ion-margin-vertical">
      <ion-label>

        <ion-avatar item-left>
          <img [src]="parking.shared_photo" *ngIf="parking.shared_photo">
          <img src="../../assets/img/no-image.png" *ngIf="!parking.shared_photo">
        </ion-avatar><br>
        
         <h2> {{ parking.shared_by }} </h2>
         <p> เมื่อ {{ parking.shared_date}} </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-card>
    <img [src]="parking.photo" *ngIf="parking.photo">
    <img src="../../assets/img/no-image.png" *ngIf="!parking.photo">

    <ion-card-header>
      <ion-card-title>
        <p> {{ parking.name}} </p>
        <ion-badge  *ngIf="parking.available"> ว่าง {{ parking.available}}  </ion-badge >
        <ion-badge color="danger" *ngIf="!parking.available"> เต็มแล้ว </ion-badge>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-textarea> {{ parking.description }} </ion-textarea>
    </ion-card-content>
  </ion-card>

</ion-content>
